html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    font-family: 'Permanent Marker', cursive;
}

section {
    height: 100vh;
    width: 100%;
}

#section2 {
    padding-top: 25px; /*padding for section scrolling*/
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h4, th, td {
    color:white;
}

#myVideo {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0.5;
  }

#homebutton {
      margin-top: 20%;
  }

.navbar-brand  {
    color:white;
    font-size: 2rem;
}


form .container ul {
   padding: 0; 
   width: 50%;
   margin: 0 auto;
   margin-top: 15px;

}

.table  {
    border: 4px solid black;
}


tbody {
    font-size: 1.2rem;
}

.nav-item a {
    color:#3ded9a;
    font-size: 1.5rem;
}

.nav-item a:hover {
    color:#ff00ff;
    text-decoration: none;
}

 ul > li.nav-item.active a {
    
    border-left: 1px solid #ff00ff;
    padding-left: 10px;
}

 /* ----------------- wheel ------------------- */

 /*Polygon text*/
span b {
    width: 65px;
    height: 65px;
    line-height: 65px;
/*    border-radius: 50%;*/
    font-size: 36px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*box-shadow: inset 0 3px 3px 0 #717171;*/
}


#spin {
    position: absolute;
    top: 41.5%;
    left: 40.5%;
    transform: translate(-50% -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #ff00ff;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
#spin:hover {
    
    background-color: #3ded97;
    color: #000;
    
}


input[type="text"]{
    text-align: center;
}

/*NEW CSS FOR WHEELS*/

#inputwheel {
    border: 5px solid #fff;
    border-radius: 15px;
    padding: 10px 10px 0px 10px;
    margin: 0 auto;
}

#wheel {
    margin: auto;
    position: relative;
    width:400px;
    height:400px; 
    
}

#wheelBackground{
    background: url('https://freesvg.org/img/Hearts-Arrow.png') no-repeat;
    background-size: 60px;
    transform: rotate(180deg);
    position: absolute;
    width: 60px;
    height: 60px;
    right: -10%;
    bottom: 42.5%;
    z-index: 100;
}


/* animate arrow*/
/* #wheelBackground.animate::after {
    animation-name: animateArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    position: absolute;
}

#wheelBackground::after {
    
    width:64px;
    height:64px;
    content: "";
    background: url('https://freesvg.org/img/Hearts-Arrow.png') no-repeat;
    background-size: 60px;
    right: -50px;
    top: 42%;
    transform: rotate(180deg);
    transition: all ease 5s;
}

@keyframes animateArrow {
    0% {right: -50px;}
    50% {right: -60px;}
}  */

/*Wheel container's container div*/
#d1 {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid white;
    overflow: hidden;
    transition: all ease 5s;
}

/*polygon spans*/
span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

/*Wheel 2 Boxes*/
.span1w2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: #ffeb3b;
    left: 0;
    height: 100%;
}
.span2w2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: #e91e63;
    right: 0;
    height: 100%;
}

/*Wheel 3 Boxes*/
.span1w3 {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 80%);
    background-color: #ffeb3b;
    left: 0;
    height: 100%;
}
.span2w3 {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 50%);
    background-color: #e91e63;
    right: 0;  
    height: 100%;
}
.span3w3 {
    transform: rotate(90deg);
    background-color: red;
    clip-path: polygon(60% 0%, 100% 0, 100% 50%, 100% 100%, 60% 100%, 0% 50%);
    right: 25%;
    top: 25%;
    height: 100%;
}

/*Wheel 4 Boxes*/
.span1w4 {
    background-color: #ffeb3b;
    left: 0;
}
.span2w4 {
    background-color: #e91e63;
    right:0;
    top: 0; 
}
.span3w4 {
    background-color: red;
    bottom: 0%;
    left: 0%;
}
.span4w4 {
    background-color: blue;
    right: 0%;
    bottom: 0%;
}

/*Wheel 5 Boxes*/
.span1w5 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 72%);
    background-color: #ffeb3b;
    left: 0;
}
.span2w5 {
    clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
    background-color: #e91e63;
    right:0;
    top: 0;
}
.span3w5 {
    clip-path: polygon(0 0, 100% 22.5%, 28% 100%, 0 100%);
    background-color: red;
    bottom: 3%;
    left: 0%;
    height: 62%;
}
.span4w5 {
    clip-path: polygon(0 22.5%, 100% 0, 100% 100%, 72% 100%);
    height: 62%;
    background-color: #3ded97;
    right: 0%;
    bottom: 3%;
}
.span5w5 {
    clip-path: polygon(50% 0%, 9% 100%, 91% 100%);
    width: 100%;
    background-color:#ff00ff;
    left: 0;
    bottom: 0; 
}

/*Wheel 6 Boxes*/
.span1w6 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);
    background-color: #D12E5F;
    left: 0;
}
.span2w6 {
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
    background-color: #D18EA2;
    right:0;
    top: 0;
}
.span3w6 {
    clip-path: polygon(0 20%, 100% 50%, 100% 50%, 0 80%);
    background-color: #8519C2;
    bottom: 0%;
    left: 0%;
    height: 100%;
}
.span4w6 {
    clip-path: polygon(0 50%, 100% 20%, 100% 80%, 0% 50%);
    height: 100%;
    background-color: #0AFAB2;
    right: 0%;
    bottom: 0%;
}
.span5w6 {
    clip-path:polygon(0 60%, 100% 0%, 100% 100%, 0% 100% );
    background-color:#542433;
    left: 0;
    bottom: 0;
}
.span6w6 {
    clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 100%);
    background-color:red;
    right: 0;
    bottom: 0;
}

/*Wheel 7 Boxes*/
.span1w7 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 28%);
    background-color: #D12E5F;
    left: 0;
}

.span2w7 {
    clip-path: polygon(0 0, 100% 0, 100% 28%, 0% 100%);
    background-color: #D18EA2;
    right:0;
    top: 0;
}

.span3w7 {
    clip-path: polygon(0 28%, 0 14%, 100% 50%, 0 60%);
    left: 0;
    background-color: blue;
    height: 100%;
}
.span4w7 {
    clip-path: polygon(0 50%, 100% 14%, 100% 60%, 0 50%);
    right: 0;
    background-color: rgba(155,155,155, .5);
    height: 100%;
}
.span5w7 {
    clip-path: polygon(0 94%, 0 60%, 100% 50%, 40% 100%);
    background-color: rgba(0,0,0,.3);
    left: 0;
    bottom: 0;
    height: 100%;
}
.span6w7 {
    clip-path: polygon(0 50%, 100% 60%, 100% 94%, 55% 100%);
    background-color:red;
    right: 0;
    bottom: 0;
    height: 100%;
}
.span7w7 {
    clip-path: polygon(20% 100%, 50% 0, 78% 100%, 50% 100%);
    width: 100%;
    background-color: rgba(0, 255, 255, .5);
    bottom: 0;
    left: 0;
}

/*Wheel 8 Boxes*/
.span1w8 {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: orange;
    left: 0;
}
.span2w8 {
    clip-path: polygon(0 0, 34% 0, 100% 0, 0% 100%);
    background-color: red;
    right:0;
    top: 0;
}
.span3w8 {
clip-path: polygon(0 0, 0 100%, 100% 100%);
  left: 0;
  background-color: blue;
}
.span4w8 {
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    top: 0;
    right: 0;
    background-color: purple;
}
.span5w8 {
    clip-path: polygon(0 100%, 100% 0,    100% 100%);
    background-color: green;
    bottom: 0;
    left:0;
}
.span6w8 {
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background-color: brown;
    bottom: 0;
    right: 0;
}
.span7w8 {
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    background-color: yellow;
    bottom: 0;
    right: 0;
}
.span8w8 {
    clip-path: polygon(0 0, 34% 0, 100% 0, 0% 100%);
    background-color: magenta;
    bottom: 0;
    left:0;
}
/*------------Wheel text-----------*/

/*Wheel 2 Text*/

/*Wheel 3 Texd1
/*Wheew6l 4 Text*/

/*Wheel 5 Text*/
.d1 .span1w5 b {
    transform: rotate(-130deg);
    height: 50px;
    top: 50%;
    left: 50%;
    
}

.d1 .span2w5 b {
    transform: rotate(-51deg);
    height: 50px;
    top: 45.5%;
    left: 10%;
    
}

.d1 .span3w5 b {
    transform: rotate(160deg);
    top: 22%;
    left: 35%;
}

.d1 .span4w5 b {
    transform: rotate(15deg);
    top: 22%;
    left: 31%;
}

.d1 .span5w5 b {
    transform: rotate(90deg);
    top: 35%;
    left: 41.5%;
}
/*Wheel 6 Text*/
.d1 .span1w6 b {
    transform: rotate(-120deg);
    height: 50px;
    top: 50%;
    left: 57%;
    
}

.d1 .span2w6 b {
    transform: rotate(-60deg);
    height: 50px;
    top: 46%;
    left: 3%;
    
}

.d1 .span3w6 b {
    
    transform: rotate(180deg);
    height: 50px;
    top: 46%;
    left: 35%;
}

.d1 .span4w6 b {
    transform: rotate(0deg);
    top: 42%;
    left: 28%;
}

.d1 .span5w6 b {
    transform: rotate(120deg);
    top: 22%;
    left: 60%;
}

.d1 .span6w6 b {
    transform: rotate(60deg);
    top: 25%;
    left: 5%;
}

/*Wheel 7 Text*/
.d1 .span1w7 b {
    transform: rotate(-120deg);
    height: 50px;
    top: 55%;
    left: 62%;
    
}

.d1 .span2w7 b {
    transform: rotate(-65deg);
    height: 50px;
    top: 50%;
    left: -3%;
}

.d1 .span3w7 b {
    transform: rotate(190deg);
    height: 50px;
    top: 41%;
    left: 44%;
}

.d1 .span4w7 b {
    transform: rotate(-13deg);
    top: 37%;
    left: 22%;
}

.d1 .span5w7 b {
    transform: rotate(150deg);
    top: 54%;
    right: 80%;
}

.d1 .span6w7 b {
    transform: rotate(35deg);
    top: 54%;
    left: 17%;
}

.d1 .span7w7 b {
    transform: rotate(90deg);
    top: 26%;
    left: 41.5%;
}
/*Wheel 8 text*/
.d1 .span1w8 b {
    transform: rotate(-112.5deg);
    top: 45%;
    left: 67%;
    
}

.d1 .span2w8 b {
    transform: rotate(-67.5deg);
    top: 44.5%;
    left: -2px;
    
}

.d1 .span3w8 b {
    
    transform: rotate(202.5deg);
    top: 68%;
    left: 45%;
}

.d1 .span4w8 b {
    transform: rotate(-22.5deg);
    top: 67%;
    left: 22%;
}

.d1 .span5w8 b {
    transform: rotate(112.5deg);
    top: 25%;
    left: 65%;
}

.d1 .span6w8 b {
    transform: rotate(22.5deg);
    top: 0%;
    left: 24%;
}

.d1 .span7w8 b {
    transform: rotate(67.5deg);
    top: 25%;
    left: 0%;
}

.d1 .span8w8 b {
  transform:rotate(157.5deg);
  top: 0%;
  left: 43%;
}

/*Breakpoints*/
@media (max-width: 576px) { 
    th, td { font-size: .9rem} 
    /*#s2anchor {display:none}*/
    #inputwheel {border: none; margin: 0;}
    #li1 {columns: 2;}
}


/*Md size and lower wheel*/
@media (max-width: 1264px) { 
    /* #mainbox { 
     width:350px;
     height:350px;
     margin-bottom: 100px;
   }  */
  
  #spin {
    position: absolute;
    top: 42%;
    left: 42%;
    transform: translate(-50% -50%);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #ff00ff;
    color: #000;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
#spin:hover{
    background-color: #3ded97;
    color: black;
}
#hidemd {
    display: none;
}
/*breakpoint end curly below*/
 }
